.bg-purple{
    background-color: #BCA3E3
}

.fs-28{
    font-size: 28pt;
}

.fs-15{
    font-size: 15pt;
}

.card {
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000050;
  }