/* You can add global styles to this file, and also import other style files */

html{
    scroll-behavior: smooth;
}

.bg-purple{
    background-color: #BCA3E3
}

.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;
}

